# piaware uploader service for systemd
# install in /etc/systemd/system

[Unit]
Description=FlightAware ADS-B uploader
Documentation=https://flightaware.com/adsb/piaware/
# network-online target may need to be enabled via:
# systemctl enable NetworkManager-wait-online.service
# or:
# systemctl enable systemd-networkd-wait-online.service
Wants=dump1090.service network-online.target
After=dump1090.service network-online.target

[Service]
ExecStart=/usr/bin/piaware -p /var/run/piaware.pid
Type=simple
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
